body {
    font-family: 'Ubuntu', sans-serif;
}

.weather_table {
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
}

#error_show {
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    margin-top: 4%;
    border-radius: 0px;
}

.main {
    margin-left: 35%;
    margin-right: 35%;
}

.location_text {
    border: 1px solid black;
    border-radius: 0px;
}

.search_button {
    border: 1px solid black;
    border-radius: 0px;
    background-color: white;
}

/* .search_button:hover {
    background-color: white;
} */

input:focus {
    outline: none !important;
}

/* button {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #000000;
} */